[submodule "backend"]
	path = backend
	url = https://github.com/chungweeeei/ROS2-Project-Backend.git
[submodule "mock-robot"]
	path = mock-robot
	url = https://github.com/chungweeeei/ROS2-Project-MockRobot.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/chungweeeei/ROS2-Project-Frontend.git
[submodule "ROS2-Project-MockArtifact"]
	path = ROS2-Project-MockArtifact
	url = https://github.com/chungweeeei/ROS2-Project-MockArtifact.git
